apiVersion: v1
kind: Service
metadata:
  name: cropdarpan-frontend-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: cropdarpan-frontend 